<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-150 ">
      <div class="shape shape-style-1 shape-default landing-image">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">Your End-to-End Partner to Carbon Markets
                <span>"Power up your purpose with our carbon credits and co-benefit solutions for a sustainable future."</span>
              </h1>
              <div class="btn-wrapper">
                <!-- <a href="https://demos.creative-tim.com/argon-design-system-angular/documentation/alerts?ref=adsa-landing-page" class="btn btn-info btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="fa fa-code"></i></span>
                  <span class="btn-inner--text">Components</span>
                </a> -->
                <a href="#findout" class="btn btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="ni ni-bold-down"></i></span>
                  <span class="btn-inner--text">Find out</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- 1st Hero Variation -->
  </div>

  <section class="section section-lg" id="findout">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <!-- <img src="./assets/img/landing/sustainable-solution.png" class="img-fluid floating"> -->
          <img src="./assets/img/landing/solutions.png" class="img-fluid floating">
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
           
            <h3>
              Join our Mission: Leading the Change for Sustainable Solutions</h3>
            <p>
              At our company, we believe that tackling climate change is everyone's responsibility, and we're committed to making it easy and accessible for everyone to make a positive impact. Our mission is to empower individuals and businesses to reduce their carbon footprint through the purchase of carbon credits and the support of innovative projects that generate social and environmental co-benefits.     <br> <br>    
              We value transparency, accountability, and innovation, and we strive to ensure that every purchase of carbon credits generates real and measurable impact. What sets us apart from our competitors is our focus on value-added carbon (VAC), which ensures that our carbon credits not only reduce emissions but also support communities and the environment. We believe that VAC is the future of the carbon market, and we're leading the charge in making it a reality.
            </p>
            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-settings-gear-65"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Carefully crafted components</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-html5"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Amazing page examples</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-satisfied"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Super friendly support team</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section custom-background">
    <div class="container p-3">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-lg-2 ml-lg-auto">
          <div class="position-relative pl-md-5">
            <img src="./assets/img/ill/ill-2.svg" class="img-center img-fluid">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="d-flex px-3">
        
            <div class="pl-4">
              <h4 class="display-3 text-white">Our Mission</h4>
              <p class="text-white lead">
                Our mission is to empower consumers and businesses to take action against carbon emissions by facilitating the creation and trade of high-integrity and high-impact carbon credits. We aim to accelerate the transition to a low carbon economy and make carbon neutrality a reality for every entity. Our innovative carbon credit solutions enable our clients to reduce their carbon footprint and contribute to the United Nations' sustainable development goals, addressing the global challenge of climate change.

                </p>
            </div>
          </div>

        </div>
      </div>
    </div>

  </section>
  <section class="section">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-lg-2 ml-lg-auto">
          <div class="position-relative pl-md-5">
            <img src="./assets/img/landing/vision.png" class="img-center img-fluid">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="d-flex px-3">
        
            <div class="pl-4">
              <h4 class="display-3">Our Vision</h4>
              <p class="lead">
                Our goal is to provide the most integral and accessible source of knowledge and high-integrity carbon offsets in the voluntary carbon market. We strive to increase the efficiency of carbon offset trade by offering innovative solutions and reliable support services. Our commitment to transparency and quality ensures that our clients achieve meaningful and measurable impact in the fight against climate change.

                </p>
            </div>
          </div>

        </div>
      </div>
    </div>

  </section>
  <section class="section custom-background">
    <div class="container p-3">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-lg-2 ml-lg-auto">
          <div class="position-relative pl-md-5">
            <img src="./assets/img/ill/ill-2.svg" class="img-center img-fluid">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="d-flex px-3">
        
            <div class="pl-4">
              <h4 class="display-3 text-white">What Sets Us Apart</h4>
              <p class="text-white lead">
                At Value Added Carbon, we are committed to providing the highest quality, integrity, impact, and transparency in the carbon credit market. Our team of experts, including environmental scientists, sustainability consultants, and finance professionals, delivers reliable guidance and support to our clients in their sustainability journey. We believe in the importance of accuracy and credibility in carbon credit markets, ensuring that our clients achieve meaningful and measurable impact in the fight against climate change.

                </p>
            </div>
          </div>

        </div>
      </div>
    </div>

  </section>

  <section class="section">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-lg-2 ml-lg-auto">
          <div class="position-relative pl-md-5">
            <img src="./assets/img/ill/ill-2.svg" class="img-center img-fluid">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="d-flex px-3">
        
            <div class="pl-4">
              <h4 class="display-3">Our Approach </h4>
              <p class="lead">
                At Value Added Carbon, we offer comprehensive carbon credit solutions tailored to the unique needs of each client. Our team conducts a thorough assessment of your carbon footprint, identifying areas for emissions reduction and sustainability improvement. We then develop a customized sustainability strategy incorporating innovative solutions to minimize your environmental impact.

Our extensive network of certified carbon offset projects provides access to high-quality carbon credits that support impactful initiatives worldwide. These projects promote renewable energy, reforestation, and community development, driving positive social and environmental change beyond emissions reduction.

                
                </p>
            </div>
          </div>

        </div>
      </div>
    </div>

  </section>
</main>
