<div class="shape-container d-flex align-items-center py-lg section section-hero mb-5">
    <div class="col px-0">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-10 text-center">
          <h3 class="font-weight-bold mb-4 text-white">Our Projects</h3>
          <p class="text-white">Our portfolio of carbon removal projects, where innovation meets sustainability in perfect harmony. Join us on a journey that transcends boundaries and redefines environmental stewardship. Witness the power of nature harnessed through cutting-edge technologies, as we deploy a diverse range of solutions to combat climate change head-on. From regenerative agriculture to advanced carbon capture systems, each project stands as a testament to our unwavering commitment to a greener future. With meticulous research and unwavering dedication, we empower communities and businesses alike to take bold strides towards a carbon-neutral world. Together, let us forge a path of collective responsibility, inspiring generations to come and reimagining our planet's destiny.</p>
        </div>
      </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <ngb-carousel interval="15000" pauseOnHover showNavigationIndicators="false">
                <ng-template ngbSlide>
                    <div class="d-flex justify-content-center flex-wrap">
                        <img class="w-100" width="800px" height="300px" src="./assets/img/marcin-jozwiak-_Ibr3e8y5po-unsplash.jpg" alt="slide">
                        <h3 class="w-100">Carbon Harvest Oasis</h3>
                        <p>Embark on an extraordinary journey to our Carbon Harvest Oasis, where lush forests thrive and carbon absorption reaches new heights. This reforestation initiative combines innovative drone technology with precision planting, creating a verdant sanctuary that effortlessly pulls CO2 from the atmosphere. Witness the captivating beauty of nature's resilience as our team meticulously tends to each sapling, fostering biodiversity while effectively reducing carbon emissions. Join us in restoring our planet's lungs, one tree at a time.</p>     
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="d-flex justify-content-center flex-wrap">
                        <img class="w-100" width="800px" height="300px" src="./assets/img/daniel-funes-fuentes-TyLw3IQALMs-unsplash.jpg" alt="slide" >
                        <h3 class="w-100">Oceanic Guardians</h3>
                        <p>Dive into the depths of our Oceanic Guardians project, where marine ecosystems become a shield against climate change. Through artificial reefs and coral restoration, we create vibrant habitats that not only support biodiversity but also absorb vast amounts of CO2 from the atmosphere. Witness the mesmerizing transformation of degraded underwater landscapes into thriving havens for marine life. Together, let's safeguard our oceans and turn the tide on climate change.</p>     
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="d-flex justify-content-center flex-wrap">
                        <img class="w-100" width="800px" height="300px" src="./assets/img/marcin-jozwiak-_Ibr3e8y5po-unsplash.jpg" alt="slide">
                        <h3 class="w-100">Community Roots</h3>
                        <p>Unearth the potential of our Community Roots project, as we empower local communities to take charge of their environment. Through agroforestry and sustainable land management practices, we equip farmers with the tools to sequester carbon while ensuring food security. Experience the joy of witnessing barren lands transform into flourishing agro-ecosystems, benefiting both people and the planet. Join hands with us as we cultivate sustainable livelihoods and nourish our shared future.</p>     
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="d-flex justify-content-center flex-wrap">
                        <img class="w-100" width="800px" height="300px" src="./assets/img/daniel-funes-fuentes-TyLw3IQALMs-unsplash.jpg" alt="slide">
                        <h3 class="w-100">Urban Resurgence</h3>
                        <p>Immerse yourself in the urban renaissance of our Urban Resurgence project, where concrete jungles transform into green oases of carbon neutrality. Witness the integration of vertical gardens, green roofs, and smart energy systems, turning cities into sustainable havens. Experience the revitalization of urban landscapes, where clean air and vibrant ecosystems harmonize with modern life. Together, let's redefine urban living and build a greener, more resilient tomorrow.</p>     
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="d-flex justify-content-center flex-wrap">
                        <img class="w-100" width="800px" height="300px" src="./assets/img/patrick-hendry-6xeDIZgoPaw-unsplash.jpg" alt="slide">
                        <h3 class="w-100">Technological Horizons</h3>
                        <p>Step into the realm of innovation with our Technological Horizons project, where groundbreaking carbon capture technologies shape a brighter future. Witness the awe-inspiring advancements in direct air capture, enhanced mineralization, and carbon-to-value solutions. Experience the immense potential of harnessing technology to remove CO2 from the atmosphere, paving the way for a carbon-negative world. Join us in pushing the boundaries of possibility and ushering in a new era of sustainable technology.</p>     
                    </div>
                </ng-template>
            </ngb-carousel>        
        </div>
    </div>
</div> 
