
.section-shaped {
    height: 650px;
}

img:not(.shape-container) {
    object-fit: cover;
}

.shape-container {
    background-image: url('/assets/img/nicolas-cool-_6d-Hgu0Wdo-unsplash.jpg');
    background-position: center;
    background-size: cover;
}