<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <img *ngIf="useNormalLogo" src="./assets/img/brand/brandmark-design.png">
      <img  *ngIf="!useNormalLogo" src="./assets/img/brand/logo-inverse.png">
      <!-- Imagen de brand -->
      <!-- <span class=" text-white">Value Added Carbon </span> -->
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <!-- <img src="./assets/img/brand/blue.png"> -->
              <!-- Aca va la imagen de la compania -->
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
  
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center ml-lg-auto text-nowrap">
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">About Us</span>
          </a>
          <div class="dropdown-menu">
            <a [routerLink]="['/landing']" class="dropdown-item">VAC</a>
            <a class="dropdown-item">Our partners (TBD)</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Services</span>
          </a>
          <div class="dropdown-menu">
            <a [routerLink]="['/services/business']" class="dropdown-item">For business </a>
            <a [routerLink]="['/services/individuals']" class="dropdown-item">For individuals</a>
            <a [routerLink]="['/services/projects']" class="dropdown-item">For projects</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Resources</span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item">Blog (TBD)</a>
            <a class="dropdown-item">Glossary (TBD)</a>
            <a class="dropdown-item">News (TBD)</a>
          </div>
        </li>
        <li class="nav-item">
          <a [routerLink]="['projects']" class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Our Projects</span>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['contact']" class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Contact Us</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
