.shape-container {
    background-image: url('/assets/img/dan-otis-OYFHT4X5isg-unsplash.jpg') !important;
    background-position: center !important;
}

.section-shaped .shape-default :nth-child(1) {
    background: #3e4a9a !important;
}

.tabs-container .nav {
    margin: 50px auto;
    max-width: 75%
}

.tab-content {
    min-height: 400px;
    border: none !important;
    box-shadow: none !important;
    background: linear-gradient(273deg, rgba(62,74,154,0.5) 10%, rgba(77,85,140,0.5) 36%);
    clip-path: polygon(0 0%, 100% 0%, 100% 92%, 0% 100%);
}

.tab-content h3 {
    margin: 1% 2%;
}

.tab-content p {
    margin: 1% 2%;
}