<div class="shape-container d-flex align-items-center py-lg section section-lg section-hero section-shaped">
    <div class="col px-0">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-10 text-center">
          <h3 class="font-weight-bold mb-4 text-white">Services For Projects</h3>
          <div>
            <p class="text-white">As the world comes to grips with the reality of climate change, demand for carbon credits is skyrocketing. But developing projects that can deliver high-quality carbon credits is a complex and challenging process. That's why we've developed a unique solution to help you maximize the value of your carbon credits - making your project both economically and environmentally sustainable. With our expertise, you can ensure that your investment is not only financially viable, but also socially responsible. Choose Carbon Added Value for a carbon credit solution that delivers value on every level.</p> 
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
  <div class="custom-tab-content flex-column flex-md-row">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav nav-pills justify-content-center" type="pills">
        <li class="nav-item" [ngbNavItem]="1">
          <a class="nav-link" ngbNavLink><i class="ni ni-user-run mr-2"></i>Develop</a>
          <ng-template ngbNavContent>
            <div class="tab-content">
              <h3>Social Impact Strategy Development</h3>
              <p class="description">Unlock the full potential of your carbon project with Carbon Added Value's strategic analysis of social impact opportunities. Our comprehensive report will not only give you an overview of the social impact initiatives available in your project area, but also educate you on how the market responds to different co-benefit segments. With our expertise, you can identify the most valuable co-benefits for your project and maximize the premium your credits can command in the voluntary carbon market. Our goal is to empower you with the information you need to pursue a Value Added Carbon strategy that prioritizes co-benefits as the key driver of value creation. Choose Carbon Added Value for a carbon credit solution that delivers impact on every level.</p>
            </div>
          </ng-template>
        </li>
        <li class="nav-item" [ngbNavItem]="2">
          <a class="nav-link" ngbNavLink>
            <i class="ni ni-map-big mr-2"></i>Strategize
          </a>
          <ng-template ngbNavContent>
            <div class="tab-content">
              <h3>Strategic Rendering</h3>
              <p class="description">Take your carbon project to the next level with Carbon Added Value's in-depth analysis of social impact opportunities. Our strategic report goes beyond identifying potential co-benefits - we also provide you with a concrete work plan and reporting structure for implementing social impact initiatives that align with your project's scope, type, and area of operations. Our goal is to equip you with a clear roadmap for maximizing the value of your carbon credits through a Value Added Carbon strategy that prioritizes co-benefits. With Carbon Added Value, you'll have the knowledge and resources you need to take action and make a real impact. Choose us for a carbon credit solution that delivers results.</p>
            </div>
          </ng-template>
        </li>
        <li class="nav-item" [ngbNavItem]="3">
          <a class="nav-link" ngbNavLink>
            <i class="ni ni-settings mr-2"></i>Implement
          </a>
          <ng-template ngbNavContent>
            <div class="tab-content">
              <h3>Strategic Implementation (VAC Implementation, Communication, and Commercialization)</h3>
              <p class="description">At Carbon Added Value, we go beyond providing strategic analysis and planning for your carbon project. We also offer comprehensive support for implementing a Value Added Carbon (VAC) strategy focused on co-benefits. Our team is ready to assist with logistical needs, equipment, and ground capacity through our network of trusted partners, ensuring your social impact initiatives are successfully executed.</p>
              <p class="description">But that's not all. We also provide branding assistance, communication guidelines, and material to effectively convey the value of your co-benefits investment. Our goal is to maximize the value added to your carbon credits and showcase your commitment to social and environmental impact.</p>
              <p class="description">And when it comes to commercializing your credits, we've got you covered. Our established platform and partnerships enable us to offer competitive pricing, with the potential for additional gains through commission-based incentives.</p>
              <p class="description">With Carbon Added Value, you can trust us to not only help you create value with your carbon credits but to also take care of the details and maximize your impact potential. Choose us for a comprehensive carbon credit solution that delivers results.</p>
            </div>
          </ng-template>
        </li>
        <li class="nav-item" [ngbNavItem]="4">
          <a class="nav-link" ngbNavLink>
            <i class="ni ni-money-coins mr-2"></i>Commercialize
          </a>
          <ng-template ngbNavContent>
            <div class="tab-content">
  
              <p class="description">Take your carbon project to the next level with Carbon Added Value's in-depth analysis of social impact opportunities. Our strategic report goes beyond identifying potential co-benefits - we also provide you with a concrete work plan and reporting structure for implementing social impact initiatives that align with your project's scope, type, and area of operations. Our goal is to equip you with a clear roadmap for maximizing the value of your carbon credits through a Value Added Carbon strategy that prioritizes co-benefits. With Carbon Added Value, you'll have the knowledge and resources you need to take action and make a real impact. Choose us for a carbon credit solution that delivers results </p>
  
            </div>
          </ng-template>
        </li>
      </ul>
    </div>
    <div [ngbNavOutlet]="nav" class="custom-tab-content"></div>
  </div>
  </div>
  </div>
  
  