<footer class="footer mt-5">
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-lg-6">
        <h4 class="mb-0 font-weight-light">Let's get in touch on any of these platforms.</h4>
      </div>
      <div class="col-lg-6 text-lg-center btn-wrapper">
        <a target="_blank" href="https://twitter.com/ValueAddedCO2" class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" ngbTooltip="Follow us">
          <i class="fa fa-twitter"></i>
        </a>
        <a target="_blank" href="https://www.instagram.com/valueaddedcarbon/" class="btn btn-neutral btn-icon-only btn-instagram btn-round btn-lg" ngbTooltip="Like us">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
